<html>
<head>
	<title>Product detail</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>Product name</th>
				<th>{{data.pro_name}}</th>
				
			</tr>
		</thead>
		<tbody>
			
				<tr><td>{{data.pro_name}}</td><td>{{data.pro_name}}</td></tr>
				<tr><td>{{data.pro_brand}}</td></tr>
				<tr><td>{{data.pro_cat}}</td></tr>
				<tr><td>{{data.pro_detail}}</td></tr>
				<tr><td>{{data.pro_color}}</td></tr>
				<tr><td>{{data.pro_size}}</td></tr>
				<tr><td>{{data.pro_price}}</td></tr>


			
		</tbody>
	</table>
</body>
</html>