<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
		#div1_1{
			background-color: #808080;
			margin-top: 5px;
			box-shadow: 0px 5px 3px;
			font-size: 20px;
		}
		li{
			font-family: arial;
			padding: 3px;
			text-decoration: none;
		}
		a{
			color: white;
		}
		

	</style>
</head>
<body>
	<div id='div1'>
		<h1 style='color:#4C9900'>FootShop</h1>
		<div id='div1_1'>
			<ul id='ul1' class='list-inline'>
				<li id='li1' style='background-color:black;'><a href="#">Home</a></li>
				<li id='li2'><a href="#">Category</a></li>
				<li id='li3'><a href="#">About</a></li>
				<li id='li4'><a href="#">Contact Us</a></li>
			</ul>
		</div>
	</div>
</body>
</html>