{% extends 'base.html' %}
{% load static %}

{% block title %} Men {% endblock %}

{% block content %}
	<div class='row'>{% for x in data %}
		<div class='col-md-3'>
			{{x.cat_name}}
			{% for y in x.products.all %}
				{{y.pro_name}}
				{% endfor %}
		</div>{% endfor %}
		<a href="{% url 'men' %}"><div class='col-md-3'><img src="{% static 'image/men.jpg' %}" width='100%'></div>
		<div class='col-md-3'><img src="{% static 'image/women.jpeg' %}" width='100%'></div>
		<div class='col-md-3'><img src="{% static 'image/boy.jpg' %}" width='100%'></div>
		<div class='col-md-3'><img src="{% static 'image/girl.jpg' %}" width='100%'></div>
	</div>
{% endblock %}