{% load static %}
<html>
<head>
	<title>Product List</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src ="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
	<div class='container'>
	<table class='table'>
		<thead >
			<tr>
				<th>Product name</th>
				<th>Brand</th>
				<th>Category</th>
				<th>Detail</th>
				<th>Color</th>
				<th>Size</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody>{% for x in data %}
			<tr>
				<td><a href="{% url 'prodetail' x.id %}">{{x.pro_name}}</a></td>
				<td>{{x.pro_brand}}</td>
				<td>{{x.pro_cat}}</td>
				<td>{{x.pro_detail}}</td>
				<td>{{x.pro_color}}</td>
				<td>{{x.pro_size}}</td>
				<td>{{x.pro_price}}</td>
				<td><button id="add" class='btn btn-success' data-toggle='modal' data-target='#{{x.id}}'>Add to cart</button></td>
				<div id="{{x.id}}" class='modal fade'>
					<div class='modal-dialog'>
						<div class='modal-content'>
							<div class='modal-header'>
								<h2>Add to Cart</h2>
								<h3>{{x.id}}</h3>
							</div>
							<div class='modal-body'>
								<form>
								<label for='i1'>Count</label>
								<input id='id_{{x.id}}' class='counter'type='text'>
								<input id='{{x.id}}' type='hidden' value="{{x.id}}">
								
								
								</form>
							</div>
							<div class='modal-footer'>
								<button id='b_add' class='btn btn-success add' value='{{x.id}}'>Add</button>
								<button id='b_cancel' class='btn btn-danger' data-dismiss='modal'>Cancel</button>
							</div>
						</div>
					</div>
				</div>

			</tr>{% endfor %}
		</tbody>
	</table>
	</div>
</body>
<script type="text/javascript">
	$(document).ready(function() {

		$('.add').click(function() 
		{	
			var pro_id = $(this).val();
			console.log(pro_id);
			
			var c = $('#id_'+ pro_id).val();
			console.log(c)
			
			var ajaxRequest = $.ajax({
				'url' : '/addcart/',
				'type': 'POST',
				'data':{csrfmiddlewaretoken:'{{csrf_token}}',product_id : pro_id,count : c},
				'dataType':'json',
				'async': false,
			});

			ajaxRequest.done(function(response) {
				$('#1').modal('hide');
			});
		});

		
	});
</script>



</html>