{% extends 'base.html' %}

{% block title %}Categories {% endblock %}

{% block content %}
	<div class='row'>
		{% for x in data %}
		<div class='col-md-4'>
			<div class='jumbotron' style='background-color:#C0C0C0;'>
			<span>{{x.cat_name}}</span>
			</div>
			{% for y in x.subcategories.all %}
			<ul class='breadcrumb'>
			<a href="{% url 'subcat' x.cat_name y.sub_name %}"><li class='breadcrumb-item'>{{y.sub_name}}</li></a>
			</ul>
			{% endfor %}
		</div>
		{% endfor %}
	</div>
{% endblock %}