{% extends 'base.html' %}
{% load  widget_tweaks%}
{% block title %} Apply Job {% endblock %}

{% block content %}
	
	<div class="jumbotron" style="background-color: white;">
		<div class="container"><hr>
			<h4 style="color: black;">{{obj.j_name}}</h4><br>
			<a href="{% url 'employer' obj.j_employer.id %}"><h5 style="color: blue;float: right;
			"><strong>{{obj.j_employer.e_firm}}</strong></h5></a><hr>
			<small class="container">{{obj.j_detail}}</small><hr><br>
			<span class='badge'>Requirements:</span><br><textarea class="container form-control" rows="10">{{obj.j_requirement}}</textarea><hr>
			<p><span class='badge'>Salary:</span>{{obj.j_salary}} per month</p>
		
		{% if user.is_authenticated %}
			
			{% if user.is_staff %}	
				<a href='{% url "elogin" %}' class="btn btn-warning" style="float:right;">Sign in as User</a>
			{% else %}
			
				<button id ='b1' class="btn btn-success" style="float:right;">Apply</button>
				<small><a href="{% url 'review' obj.j_employer.id %}" >Write review about {{obj.j_employer.e_firm}}</a></small>
			
			{% endif%}
		{% else %}
			<a href='{% url "elogin" %}' class="btn btn-success" style="float:right;">Login to Apply</a>

			
		{% endif%}

		</div>
	</div>

	<div class="modal fade" id="mymod">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" >Add Cover letter</h4>
				</div>
				<div class="modal-body">
					<form method = 'post' enctype="multipart/form-data">
						{% csrf_token %}
						
						{% for field in form%}
						{{field.label_tag}}
						{% render_field field class='form-control'%}
						{% endfor %}
				</div>
				<div class="modal-footer">
					<button class="btn btn-success">Apply</button>
					<button class="btn btn-danger" data-dismiss='modal'>Cancel</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		$('document').ready(function() {

			$('#b1').click(function() {

				$('#mymod').modal('show');
			});
		});
	</script>

{% endblock %}