<html>
<head>
	<title>Second List</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<table class="table">
	
	
	<thead>
		<tr>
		<td>Name</td>
		<td>Place</td>
		<td>Image</td>
	</tr>
	</thead>
	<tbody>
		{% for x in object_list%}
		<tr>
		<td>{{x.name}}</td>
		<td>{{x.place}}</td>
		<td><figure><img src="{{x.image.url}}" ></figure></td>
		</tr>{% endfor%}
	</tbody>
	</table>
	



</body>
</html>